Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/1_Trimmed/SC_NP_H_7061_R2_TrmP.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/1_Trimmed/SC_NP_H_7061_R1_TrmP.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R1_001.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R2_001.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/1_Trimmed/SC_NP_H_7063_R1_TrmP.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/1_Trimmed/SC_NP_H_7063_R2_TrmP.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R2_001.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R1_001.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L002_R2.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L002_R1.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L001_R2.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L001_R1.fastq.gz
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/Homo_sapiens.GRCh38.dna.primary_assembly.fa
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/STAR-2.7.3a/SAindex
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/STAR-2.7.3a/Genome
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/STAR-2.7.3a/SA
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/default.gtf
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/Homo_sapiens.GRCh38.104.gtf
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/Beenet_SC_NP_H_250/Beenet_SC_NP_H_7063/SC_NP_H_7063_20240125114410.bam
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/Beenet_SC_NP_H_250/Beenet_SC_NP_H_7061/SC_NP_H_7061_20240125112551.bam
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/Beenet_SC_NP_H_250/Beenet_SC_NP_H_7061/SC_NP_H_7061_20240125112551_RCM.tsv
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/MySample/MySample1_20230426182713_RCM.tsv
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/MySample/MySample1_20230426182713_TCM.tsv
Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/Beenet_SC_NP_H_100/Beenet_SC_NP_H_7061/Beenet_SC_NP_H_7061_20240130123406.bam
